In [1]:
# Import Splinter and BeautifulSoup
from splinter import Browser
from bs4 import BeautifulSoup

In [2]:
# Set the executable path and initialize the chrome browser in splinter
executable_path = {'executable_path': 'chromedriver'}
browser = Browser('chrome', **executable_path)

## Visit the NASA mars news site

In [3]:
# Visit the mars nasa news site
url = 'https://mars.nasa.gov/news/'
browser.visit(url)

In [4]:
# html parser
html = browser.html
soup = BeautifulSoup(html, "html.parser")

In [5]:
# scrape article title
news_title = soup.find("div", class_="content_title").text
print(news_title)

Mars Now

In [6]:
# scrape paragraph text
news_p = soup.find("div", class_ ="article_teaser_body").text
print(news_p)

A pair of zoomable cameras will help scientists and rover drivers with high-resolution color images.

## JPL Space Images Featured Image

In [7]:
# visit url
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)

In [8]:
# click on 'FULL IMAGE'
browser.click_link_by_partial_text('FULL IMAGE')

# click on 'more info'
browser.click_link_by_partial_text('more info')

C:\Users\14698\AppData\Local\Continuum\anaconda3\lib\site-packages\splinter\driver\webdriver\__init__.py:528: FutureWarning: browser.find_link_by_partial_text is deprecated. Use browser.links.find_by_partial_text instead.
  FutureWarning,

In [9]:
#html parser
html = browser.html
image_soup = BeautifulSoup(html, 'html.parser')

In [10]:
#parse html to find largesize picture
figure= image_soup.find('figure', class_='lede')
ref=figure.find('a')
img_path=ref['href']

featured_image_url = ('https://www.jpl.nasa.gov' + img_path)
print(featured_image_url)

https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA09320_hires.jpg

## Mars Weather

In [11]:
tweet_url = 'https://twitter.com/marswxreport?lang=en'
browser.visit(tweet_url)

In [12]:
html = browser.html
weather_soup = BeautifulSoup(html, 'html.parser')

In [19]:
# Retrieve latest tweet with Mars weather info
mars_weather = weather_soup.find("p", class_="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text").text
print(mars_weather)

AttributeError: 'NoneType' object has no attribute 'text'

## Mars Facts

In [28]:
#facts page
facts_url = "https://space-facts.com/mars/"

In [29]:
table = pd.read_html(facts_url)
table[0]

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [30]:
#creating df with facts data
facts_df = table[0]
facts_df.columns = ["Parameter", "Values"]
facts_df.set_index(["Parameter"])

                                             Values
Parameter
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [31]:
#creating table for html template
mars_html_table = facts_df.to_html()
mars_html_table = mars_html_table.replace("\n", "")
mars_html_table

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Parameter</th>      <th>Values</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>Equatorial Diameter:</td>      <td>6,792 km</td>    </tr>    <tr>      <th>1</th>      <td>Polar Diameter:</td>      <td>6,752 km</td>    </tr>    <tr>      <th>2</th>      <td>Mass:</td>      <td>6.39 × 10^23 kg (0.11 Earths)</td>    </tr>    <tr>      <th>3</th>      <td>Moons:</td>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>4</th>      <td>Orbit Distance:</td>      <td>227,943,824 km (1.38 AU)</td>    </tr>    <tr>      <th>5</th>      <td>Orbit Period:</td>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>6</th>      <td>Surface Temperature:</td>      <td>-87 to -5 °C</td>    </tr>    <tr>      <th>7</th>      <td>First Record:</td>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>8</th>      <td>Recorded By:</td>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

## Mars Hemispheres

In [21]:
import pandas as pd

In [ ]:
browser.quit()